/* Mobile*/
@media ( min-width :0) and (max-width:767px) {
  .panel-body > div > .col-sm-6{
    margin-bottom: 10px;
  }
}

/* Mobile*/
.progress-bars{

  padding-left: 5px;
  padding-right: 5px;
}
/* Tablet */
@media ( min-width :768px) and (max-width:1024px) {
	.progress-bars{
    padding-left: 9px;
    padding-right: 9px;
	}
}
/* Desktop */
@media ( min-width :1025px) {
	.progress-bars{
    padding-left: 15px;
    padding-right: 15px;
	}
}

/* Mobile*/
.mobile-intvw-p{
  padding: 0px;
}
/* Tablet */
@media ( min-width :768px) and (max-width:1024px) {
  .mobile-intvw-p{
    padding: 15px;
	}
}
/* Desktop */
@media ( min-width :1025px) {
	.mobile-intvw-p{
    padding: 15px;
	}
}

/* Mobile*/
.mobile-intvw-01{
  text-align: center;
  padding: 0px;
}

/* Mobile*/
.intvw-left-side{
  padding: 0px;
}
/* Tablet */
@media ( min-width :768px) and (max-width:1024px) {
	.intvw-left-side{
    padding: 15px;
	}
}
/* Desktop */
@media ( min-width :1025px) {
	.intvw-left-side{
    padding: 15px;
	}
}

#pieChart{

}
#left-nav > ul{
  min-width: 100px;
}
#left-nav{
  display: none;
}
/* Tablet */
@media ( min-width :768px) and (max-width:1024px) {
	#left-nav{
    display:block;
	}
}
/* Desktop */
@media ( min-width :1025px) {
	#left-nav {
    display:block;
	}
}

#section01{
    display: none;
}
@media ( min-width :768px) and (max-width:1024px) {
  #section01{
    display:block;
	}
}
/* Desktop */
@media ( min-width :1025px) {
  #section01{
    display:block;
	}
}
.intvw-pagination{
  margin-top: 0px;
  margin-bottom: 0px;
  min-height: 35px;
}
#intr-write-btn {
  float: right;
  right:60px;
  margin-top: 0px;
}
/* Tablet */
@media ( min-width :768px) and (max-width:1024px) {
	#intr-write-btn {
    position:absolute;
    right:60px;
	}
}
/* Desktop */
@media ( min-width :1025px) {
	#intr-write-btn {
    position:absolute;
    right:60px;
	}
}

#ent-body {
  position: relative;
  background-color: red;
}

.logo-small {
	font-size: 30px;
	color: #4c78ea;
	display: block;
}

#left-nav{
	margin-top: 70px;
}
#entName{
	font-size: 30px;
	font-style: inherit;
}

/* VIEW 페이지 그래프  START*/
.graph-row {
    text-align: center;
    margin-bottom: 10px;
}
.graph-btn {
	background-color: #B5B2FF;
	color: white;
	border-radius: 5px;
/* 	margin: 0 0 10px 40%; */
}
#personnel-btn, #salary-btn {
    width: 100px;
}
/* VIEW 페이지 박스 상단부 색상 */
.box {
	position: relative;
	border-radius: 3px;
	background: #ffffff;
	border-top: 3px solid #d2d6de;
	margin-bottom: 20px;
	width: 100%;
	box-shadow: 1px 1px 5px 0px #a8bff9
}

.box.box-primary {
	border-top-color: #3c8dbc
}

.box.box-info {
	border-top-color: #00c0ef
}

.box.box-danger {
	border-top-color: #dd4b39
}

.box.box-warning {
	border-top-color: #f39c12
}

.box.box-success {
	border-top-color: #00a65a
}
/* 면접후기 slider 어려운정도 */
.sliders {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;

}

.sliders:hover {
    opacity: 1;
}

.sliders::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
}

/* VIEW 페이지 채용정보 색 */
.panels {
/* 	 min-height: 1000px; */
     border-bottom-style:solid;
/*      border-radius: 10px; */
/*      border-radius:0 !important; */
     transition: box-shadow 0.5s;
     background-color: #fff;
     margin-bottom: 20px;
 }
 @media ( min-width :768px) and (max-width:1024px) {
	.panels{
		 min-height: 212px;
	}
}
/* Desktop */
@media ( min-width :1025px) {
	.panels{
		 min-height: 220px;
	}
}
@media ( min-width :1200px) {
	.panels{
		 min-height: 186px;
	}
}
 .panels:hover {
     box-shadow: 5px 0px 40px rgba(0,0,0, .2);
 }
.panels-body{
/* 	 min-height: 139px; */
	 padding: 15px;
}
 .panel-headings {

     color: #fff !important;
     background-color: #B5B2FF !important;
     text-align: right;
     padding: 0px 5px 0px 0px ;
     border-bottom: 1px solid transparent;
     border-top-left-radius: 0px;
     border-top-right-radius: 0px;
     border-bottom-left-radius: 0px;
     border-bottom-right-radius: 0px;
 }
 .
 .panel-footers {
     background-color: white !important;
 }
/* #saramin-margin{ */
/* 	margin: 0px 50px 0px 50px; */
/* } */
/* Tablet */
@media ( min-width :768px) and (max-width:1024px) {
	#saramin-margin{
		margin: 0px 10px 0px 10px;
	}
}
/* Desktop */
@media ( min-width :1025px) {
	#saramin-margin{
		margin: 0px 50px 0px 50px;
	}
}
#saramin-margin .title{
	min-height: 31px;
}
#saramin-margin h4{
	display: inline-block;

}
/* VIEW 페이지 뉴스 줄 간격 */
.news-margin {
	margin-bottom: 15px;
}
