#intr-write-btn {
  float: right;
  right:60px;
}
/* Tablet */
@media ( min-width :768px) and (max-width:1024px) {
	#intr-write-btn {
    position:absolute;
    right:60px;
	}
}
/* Desktop */
@media ( min-width :1025px) {
	#intr-write-btn {
    position:absolute;
    right:60px;
	}
}

#ent-body {
  position: relative;
  background-color: red;
}

.logo-small {
  /* 	color: #2196F3; */
	font-size: 30px;
	color: lime;
	/* width:50px; */
	display: block;
}
