body {
	position: relative;
	background-color: #EAEAEA;
}

article {
	width: 100%;
	text-align: center;
	padding-top: 50px;
	margin-bottom: 30px;
	text-align: center;
}

.non-padding-top {
	padding-top: 0px;
}
/* #signinButton{

  background-image: url('../img/btn_google_signin_light_normal_web@2x.png');
  background-size: 244px 50px;
  height: 50px;
  width: 244px;
  border: none;

} */
@font-face {
	font-family: 'Roboto-Medium';
	src: url("../fonts/Roboto-Medium.ttf") format('truetype');
}

/* 마우스 커서 올릴때 마우스 바뀜*/
.cursorOn {
	cursor: pointer;
}

.fa-heart, .fa-heart-o {
	color: red;
	font-size: 20px !important;
	margin-bottom: 10px;
}
.blue-font{
	text-decoration: none !important;
	color: #337ab7;
	cursor: pointer;
	display: inline-block;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	-ms-transition: 0.3s;
	transition: 0.3s;
}
.blue-font:hover{
	-webkit-transform: scale(1.1,1.1);
  -moz-transform: scale(1.1,1.1);
  -o-transform: scale(1.1,1.1);
  -ms-transform: scale(1.1,1.1);
  transform: scale(1.1,1.1);
}

.abcRioButtonLightBlue {
	height: 36px;
	width: 50% !important;
	text-align: center;
}

.navbar {
	margin: 0;
	padding: 0;
	position: fixed;
	width: 100%;
	z-index: 999;
}

.f-left {
	float: left;
}

.f-right {
	float: right;
}

.nav-btn-1 {
	width: 200px;
	margin-top: 15px;
	text-decoration: none;
	color: #9d9d9d;
}

/* 세로줄  TODO미사용 */
.v1 {
	width: 1px;
	padding: 0;
	background: #eaeaea;
	height: 50px;
	margin-bottom: 12px;
	margin-top: 12px;
}
/* 기업리스트 오른쪽 셀 */
.cell-1 {
	border-left: 1px solid #eaeaea;
	line-height: 24px;
}

.cell-2 {
	border-left: 1px solid #eaeaea;
	border-right: 1px solid #eaeaea;
	line-height: 24px;
}

.stars-on::after {
	content: '\f005';
	color: #FFE400;
	font: normal normal normal 20px/1 FontAwesome;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	text-decoration: none;
	margin-right: 2px;
}

.stars-off::after {
	content: '\f005';
	color: #d2d2d2;
	font: normal normal normal 20px/1 FontAwesome;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	text-decoration: none;
	margin-right: 2px;
}

.facebookBtn {
	margin: 4px;
	background-color: #3b5998;
	font-family: Roboto-Medium;
	font-size: 14px;
	color: #ffffff;
	line-height: 22px;
	height: 40px;
	box-shadow: 1px 1px 4px gray;
}

.facebookBtn img {
	height: 18px;
	width: 18px;
	margin-right: 24px;
	margin-bottom: 3px;
}

.googleBtn {
	margin: 4px;
	background-color: #ffffff;
	font-family: Roboto-Medium;
	font-size: 14px;
	color: #000000;
	line-height: 22px;
	height: 40px;
	box-shadow: 1px 1px 4px gray;
}

.googleBtn img {
	height: 18px;
	width: 18px;
	margin-right: 24px;
	margin-bottom: 3px;
}

/* 제목부분 */
.jumbotron {
	background-color: #f4511e;
	color: #fff;
	padding: 100px 25px;
	font-family: Montserrat, sans-serif;
}

/* 기업 순위 옆으로 움직이는거 */
.carousel-control.right, .carousel-control.left {
	background-image: none;
	color: #000000;
}

.carousel-indicators li {
	border-color: #000000;
}

.carousel-indicators li.active {
	background-color: #000000;
}
/* 기업순위 옆으로 움직이는 거 중... 아래 공백을 위해 필요한 것. (margin 때문에 필요함 아니면 따로 값 줘도 됨) */
.item h4 {
	font-size: 19px;
	line-height: 1.375em;
	font-weight: 400;
	font-style: italic;
	margin: 70px 0;
}

/* Star 기업리스트 페이지 */
#ent-list-box {
	border: 1px solid lightgray;
	width: 100%;
	height: 100%;
	margin: auto;
	background-color: white;
	box-sizing: border-box;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 1px 1px rgba(127, 127, 127, 0.3);
	box-shadow: 0 1px 1px 1px rgba(127, 127, 127, 0.3);
}
/* Tablet */
@media ( min-width :768px) and (max-width:1024px) {
	#ent-list-box {
		width: 100%;
	}
}
/* Desktop */
@media ( min-width :1025px) {
	#ent-list-box {
		width: 70%;
	}
}

.ent-list {
	width: 90%;
	margin: auto;
	border-bottom: 1px dashed #ccc;
	padding: 3%;
	overflow: hidden;
	font-size: 15px;
}
/* Tablet */
@media ( min-width :768px) and (max-width:1024px) {
	.ent-list {
		text-align: left;
	}
}
/* Desktop */
@media ( min-width :1025px) {
	.ent-list {
		text-align: left;
	}
}

.fa {
	font-size: 17px;
}

.p25 {
	font-size: 25px;
}

.btnFollow {
	color: red;
	padding: 0px;
}

#btnReview {
	display: inline-block;
	float: right;
}

.clear {
	clear: left;
}

/* 맨위로 가기 버튼 */
.move-top {
	position: fixed;
	right: 5%;
	bottom: 40px;
	z-index: 999;
}
/* Tablet */
@media ( min-width :768px) and (max-width:1024px) {
	.move-top {
		right: 3%;
	}
}
/* Desktop */
@media ( min-width :1025px) {
	.move-top {
		right: 10%;
	}
}

/* End 기업리스트 페이지  */

/* 기업상세보기 페이지  */
#section1, #section2, #section3, #section41, #section42 {
	color: black;
	background-color: #ffffff;
	margin-left: 0px;
}

.follow {
	color: red;
	font-size: 20px;
	text-decoration: none;
}


.affix {
	top: 70px;
	z-index: 998 !important;
	
}
#entNameModule{
	margin-top: 70px;
}
.module {
	box-sizing: border-box;
	margin: 0 0 20px 0;
	padding: 20px;
	background-color: white;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 1px 1px rgba(127, 127, 127, 0.3);
	box-shadow: 0 1px 1px 1px rgba(127, 127, 127, 0.3);
}

.module-main {
	box-sizing: border-box;
	background-color: white;
	color: #fff;
	height: 220px;
	padding: 20px;
	background-color: white;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 1px 1px rgba(127, 127, 127, 0.3);
	box-shadow: 0 1px 1px 1px rgba(127, 127, 127, 0.3);
}

.sectionTitle {
	color: #2196F3;
	font-weight: bolder;
}

/* view 좌측 side bar */
.padding-zero {
	padding: 0px;
}

.progress-bars {
	/* 	background-color: #EAEAEA */
	height: 10px;
	white-space: nowrap;
	background-color: #EAEAEA;
	margin: 1px;
}

.intrvwlv1 .bar1, .intrvwlv2 .bar1, .intrvwlv3 .bar1, .intrvwlv4 .bar1,
	.intrvwlv5 .bar1 {
	/* 첫번째 칸*/
	background-color: #1DDB16
}

.intrvwlv2 .bar2, .intrvwlv3 .bar2, .intrvwlv4 .bar2, .intrvwlv5 .bar2 {
	/*두번째 칸*/
	background-color: #ABF200
}

.intrvwlv3 .bar3, .intrvwlv4 .bar3, .intrvwlv5 .bar3 {
	/*세번째 칸*/
	background-color: #FFBB00
}

.intrvwlv4 .bar4, .intrvwlv5 .bar4 {
	/*네번째 칸*/
	background-color: #FF5E00
}

.intrvwlv5 .bar5 {
	/*다섯번재 칸*/
	background-color: #FF0000
}

.intrvwlv1 .intrvwDifficulty {
	color: #1DDB16
}

.intrvwlv2 .intrvwDifficulty {
	color: #ABF200
}

.intrvwlv3 .intrvwDifficulty {
	color: #FFBB00
}

.intrvwlv4 .intrvwDifficulty {
	color: #FF5E00
}

.intrvwlv5 .intrvwDifficulty {
	color: #FF0000
}

.cat-header {
	/* 모달 헤더부분 */
	color: white;
	background-color: #F361A6;
}

.modal-footer {
	background-color: #EAEAEA;
}

/* .modal-write-form{ */
/* 	width:90%; */
/* } */
/* Tablet */
/* @media (min-width:768px) and (max-width:1024px) { */
/*   .modal-write-form { */
/*     width:90%; */
/*   } */
/* } */
/* Desktop */
/* @media (min-width:1025px) { */
/*   .modal-write-form{ */
/*    width:60%; */
/*   } */
/* } */

/* 유효성검사 에러시에  */
input.error, textarea.error, select.error {
	/* 	border: 1px dashed red; */
	border: 1px solid red;
}

label.error {
	color: red;
	font-weight: normal;
}
/* 기업상세보기 페이지  END */
.contents-wrap {
	box-sizing: border-box;
	padding: 20px;
	background-color: white;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 1px 1px rgba(127, 127, 127, 0.3);
	box-shadow: 0 1px 1px 1px rgba(127, 127, 127, 0.3);
	margin-top: 20px;
}



/* 마이페이지  START*/
.text-center td, .text-center th {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}
/* 마이페이지 END */
