<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.CatchJob.dao.AdminDao">
	<update id="updateOne" parameterType="admin">
		UPDATE ADMIN_TB SET
		ADMIN_IDX=#{adminIndex},ADMIN_ID=#{adminId},ADMIN_PW=#{adminPw},ADMIN_LV=#{adminLv},REG_DT=#{regDate},LAST_DT=#{lastDate} 
		WHERE ADMIN_IDX=#{adminIndex}
	</update>
	<select id="selectOne" parameterType="int" resultMap="adminMap">
		SELECT *
		FROM ADMIN_TB WHERE ADMIN_IDX=#{adminIndex}
	</select>
	<select id="selectById" parameterType="map" resultMap="adminMap">
		SELECT * FROM ADMIN_TB WHERE ADMIN_ID=#{adminId}
	</select>
	<select id="selectCount" resultType="int" parameterType="String">
		SELECT COUNT(*)
		FROM ADMIN_TB
		WHERE ADMIN_ID like CONCAT('%',#{keyword},'%');
	</select>
	<select id="selectListAdmin" resultMap="adminMap" parameterType="map">
		SELECT * FROM (
			SELECT @ROWNUM:=@ROWNUM+1 AS RNUM, m.ADMIN_IDX, m.ADMIN_ID, m.ADMIN_PW, m.ADMIN_LV, m.REG_DT, m.LAST_DT
			FROM (
				SELECT ADMIN_IDX, ADMIN_ID, ADMIN_PW, ADMIN_LV, REG_DT, LAST_DT 
				FROM ADMIN_TB,  (select @ROWNUM := 0) a 
			ORDER BY ADMIN_IDX) m) n
		WHERE RNUM BETWEEN #{firstRow} AND #{endRow} and ADMIN_ID like CONCAT('%',#{keyword},'%');	
	</select>
	<resultMap type="admin" id="adminMap">
		<result property="adminIndex" column="ADMIN_IDX" />
		<result property="adminId" column="ADMIN_ID" />
		<result property="adminPw" column="ADMIN_PW" />
		<result property="adminLv" column="ADMIN_LV" />
		<result property="regDate" column="REG_DT" />
		<result property="lastDate" column="LAST_DT" />
	</resultMap>

</mapper>

