<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.CatchJob.dao.AuthorityDao">
	<select id="selectUserAuthorities" parameterType="string" resultType="string">
		SELECT AUTHORITY FROM AUTHORITIES_TB WHERE MBER_ID = #{mberid}
	</select>
</mapper>