<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.CatchJob.dao.UniversalDomainDao">
	<insert id="insertDomain" parameterType="UniversalDomain">
		INSERT INTO UNIVERSAL_DOMAIN(DOMAIN_IDX,DOMAIN_ADDR,DOMAIN_NM) 
		VALUES(#{domainIndex},#{domainAddress},#{domainName})
	</insert>
	<update id="updateDomain" parameterType="UniversalDomain">
		UPDATE UNIVERSAL_DOMAIN SET
		DOMAIN_ADDR=#{domainAddress},DOMAIN_NM=#{domainName} 
		WHERE DOMAIN_IDX=#{domainIndex} 
	</update>
	<delete id="deleteDomain" parameterType="int">
		DELETE FROM UNIVERSAL_DOMAIN 
		WHERE DOMAIN_IDX=#{domainIndex} 
	</delete>
	<select id="selectListAll" resultMap="domainMap">
		SELECT  * 
		FROM    UNIVERSAL_DOMAIN
	</select>	
	<select id="selectDomain" parameterType="String" resultMap="domainMap">
		SELECT  * 
		FROM    UNIVERSAL_DOMAIN 
		WHERE   DOMAIN_ADDR = #{domain}
	</select>
	<select id="selectListDomain" parameterType="map" resultMap="domainMap">
		SELECT SQL_CALC_FOUND_ROWS *
		FROM UNIVERSAL_DOMAIN 
		WHERE 1=1
		<if test="domainNameKeyword != null"> 
		  	AND DOMAIN_NM LIKE '%${domainNameKeyword}%'
		</if>		
		<if test="domainAddressKeyword != null"> 
	  	 	 AND DOMAIN_ADDR LIKE '%${domainAddressKeyword}%'
	    </if>			  	
	   	ORDER BY DOMAIN_IDX DESC
		LIMIT #{NUM_OF_MSG_PER_PAGE}
		OFFSET #{START_ROW}
					
	</select>
	<select id="selectCount" resultType="int" parameterType="map">
		SELECT COUNT(*)
		FROM UNIVERSAL_DOMAIN
		WHERE 1=1
		<if test="domainNameKeyword != null"> 
		  	 AND DOMAIN_NM LIKE '%${domainNameKeyword}%'
		</if>
		<if test="domainAddressKeyword != null"> 
		  	 AND DOMAIN_ADDR LIKE '%${domainAddressKeyword}%'
		</if>
	</select>
	<resultMap type="UniversalDomain" id="domainMap">
		<result property="domainIndex" column="DOMAIN_IDX" />
		<result property="domainAddress" column="DOMAIN_ADDR" />
		<result property="domainName" column="DOMAIN_NM" />
	</resultMap>	
</mapper>