<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.CatchJob.dao.EnterpriseDao">
	
	<select id="selectListEnt" resultMap="entMap">
		SELECT    e.*, n.NPN_NW_SBSCRBER_CNT, n.NPN_SCBT_CNT
		FROM 	  ENTERPRISE_TB e
		LEFT JOIN NPN_DTLS_TB n
		ON 		  e.ENT_IDX = n.ENT_IDX
		WHERE     e.ENT_SBSCRB_ST = 1 
		AND n.PAY_YM = (	SELECT 	  MAX(n2.PAY_YM)
							FROM 	  ENTERPRISE_TB e2
							LEFT JOIN NPN_DTLS_TB n2
							ON 		  e2.ENT_IDX = n2.ENT_IDX
							WHERE     e2.ENT_NM LIKE  CONCAT('%',#{keyword},'%')
							AND       e.ENT_IDX = e2.ENT_IDX
							GROUP BY  e2.ent_idx )		  				
		ORDER BY  LENGTH(ENT_NM) ASC, ENT_NM ASC;
	</select>
	
	<select id="selectListEmpCntRank" parameterType="int" resultType="hashMap">
		SELECT ENT_IDX, ENT_NM
		FROM ENTERPRISE_TB 
		WHERE ENT_SBSCRB_ST = 1 
		ORDER BY ENT_EMPLOYEE_CNT DESC 
		LIMIT #{RANK_VIEW_COUNT}
	</select>
	
	<!-- 기업정보의 그래프 만들기 위해 필요한 데이터 -->
<!-- 	<select id="selectGraphInf" parameterType="int" resultType="hashMap">
		SELECT 		ent.ENT_IDX, ent.ENT_INDUTY_NM, npn.NPN_SBSCRBER_CNT, npn.NPN_NW_SBSCRBER_CNT, npn.NPN_SCBT_CNT, npn.PAY_YM, npn.PAY_AMT, ent. ent.ENT_FOND_YMD
		FROM 		ENTERPRISE_TB ent, NPN_DTLS_TB npn
		WHERE		ent.ENT_IDX=npn.ENT_IDX AND ent.ENT_IDX = #{ENT_IDX}
		ORDER BY 	PAY_YM		
	</select> -->
	<select id="selectGraphInf" parameterType="int" resultType="hashMap">
		 SELECT ent.ENT_IDX, ent.ENT_INDUTY_NM, npn.NPN_SBSCRBER_CNT, npn.NPN_NW_SBSCRBER_CNT, npn.NPN_SCBT_CNT, npn.PAY_YM, npn.PAY_AMT
		 FROM		 ENTERPRISE_TB ent
		 LEFT JOIN 	 NPN_DTLS_TB npn 
		 ON 		 ent.ENT_IDX = npn.ENT_IDX 
		 WHERE 		 ent.ENT_IDX=#{ENT_IDX}
		 ORDER BY PAY_YM
	</select>

	<resultMap type="enterprise" id="entMap">
		<result property="entIndex" column="ENT_IDX" />
		<result property="entName" column="ENT_NM" />
		<result property="entBizRegNum" column="ENT_BIZR_NO" />
		<result property="industryCode" column="ENT_INDUTY_CD" />
		<result property="industryName" column="ENT_INDUTY_NM" />
		<result property="entStyleType" column="ENT_STLE_TYPE" />
		<result property="entSubscriberFlag" column="ENT_SBSCRB_ST" />
		<result property="entFlag" column="ENT_FL" />
		<result property="entFoundationDate" column="ENT_FOND_YMD" />
		<result property="entRoadAddrName" column="ENT_ROADADDR_NM" />
		<result property="employeeCount" column="ENT_EMPLOYEE_CNT" />
		<result property="entranceCount" column="NPN_NW_SBSCRBER_CNT" />
		<result property="retirementCount" column="NPN_SCBT_CNT" />
		<result property="evaluationAvg" column="EVALUATION_AVG" />
	</resultMap>
</mapper>

