<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.CatchJob.dao.EnterpriseDao">

	<select id="selectListEnt" parameterType="map" resultMap="entMap">
		SELECT  	IF(fol.MBER_IDX IS NOT NULL, 1, 0)  AS FOLLOWING ,ent.ENT_IDX, ent.ENT_NM, ent.ENT_INDUTY_NM,up.EVALUATION_AVG,up.PAY_AMT_AVG, up.NPN_SBSCRBER_CNT, 
					ld.ADDR_BCITY_NM, ld.ADDR_SIGNGU_NM,revw.REVW_CNT,intrvw.INTRVW_CNT
		FROM 		ENTERPRISE_TB ent
		LEFT JOIN 	(SELECT ENT_IDX, COUNT(*) AS REVW_CNT 
					 FROM REVIEW_TB 
					 WHERE REVW_FL = 1 
					 GROUP BY ENT_IDX
					 ) revw 
		ON 			ent.ENT_IDX = revw.ENT_IDX
		LEFT JOIN 	(SELECT ENT_IDX, COUNT(*) AS INTRVW_CNT 
					 FROM INTERVIEW_TB 
					 WHERE INTRVW_FL = 1 
					 GROUP BY ENT_IDX
					 ) intrvw 
		ON 			ent.ENT_IDX = intrvw.ENT_IDX
		LEFT JOIN 	UPDATE_ENT_INFO_TB up
		ON 			ent.ENT_IDX = up.ENT_IDX
		LEFT JOIN 	LEGAL_DONG_TB ld 
		ON 			ent.ADDR_BCITY_CD = ld.ADDR_BCITY_CD 
		AND 		ent.ADDR_SIGNGU_CD = ld.ADDR_SIGNGU_CD
		AND 		ld.ADDR_EMD_CD = IF(ent.ADDR_EMD_CD = ld.ADDR_EMD_CD,ent.ADDR_EMD_CD,0 )
		LEFT JOIN 	FOLLOWING_TB fol
		ON 			fol.ENT_IDX=ent.ENT_IDX AND fol.MBER_IDX=#{MBER_IDX}
		WHERE 		ent.ENT_SBSCRB_ST = 1 AND  ent.ENT_NM LIKE  CONCAT('%',#{keyword},'%') 
		GROUP BY 	ent.ENT_IDX
		ORDER BY 	LENGTH(ent.ENT_NM),ent.ENT_NM
	</select>
	
	
	<select id="selectListEmpCntRank" parameterType="int" resultType="map">
		SELECT 		ent.ENT_IDX, ent.ENT_NM, up.NPN_SBSCRBER_CNT
		FROM 		ENTERPRISE_TB ent
		LEFT JOIN 	UPDATE_ENT_INFO_TB up
		ON 			ent.ENT_IDX = up.ENT_IDX
		WHERE 		ent.ENT_SBSCRB_ST = 1 
		ORDER BY 	up.NPN_SBSCRBER_CNT DESC 
		LIMIT 		#{RANK_VIEW_COUNT}
	</select>
	
	<select id="selectEntInfo" parameterType="map" resultType="hashMap">
<!-- 		SELECT  	ent.ENT_IDX, ent.ENT_NM, ent.ENT_INDUTY_NM,ent.ENT_FOND_YMD,up.PAY_AMT_AVG, up.NPN_SBSCRBER_CNT, ld.ADDR_BCITY_NM, ld.ADDR_SIGNGU_NM -->
<!-- 		FROM 		ENTERPRISE_TB ent -->
<!-- 		LEFT JOIN 	UPDATE_ENT_INFO_TB up -->
<!-- 		ON 			ent.ENT_IDX = up.ENT_IDX -->
<!-- 		LEFT JOIN 	LEGAL_DONG_TB ld  -->
<!-- 		ON 			ent.ADDR_BCITY_CD = ld.ADDR_BCITY_CD  -->
<!-- 		AND 		ent.ADDR_SIGNGU_CD = ld.ADDR_SIGNGU_CD -->
<!-- 		AND 		ld.ADDR_EMD_CD = IF(ent.ADDR_EMD_CD = ld.ADDR_EMD_CD,ent.ADDR_EMD_CD,0 ) -->
<!--     	WHERE ent.ENT_IDX = #{ENT_IDX} -->    	
    	SELECT  IF(fol.MBER_IDX is not null, 1, 0)  as FOLLOWING ,	ent.ENT_IDX, ent.ENT_NM, ent.ENT_INDUTY_NM,ent.ENT_FOND_YMD,up.PAY_AMT_AVG, up.NPN_SBSCRBER_CNT, ld.ADDR_BCITY_NM, ld.ADDR_SIGNGU_NM
		FROM 		ENTERPRISE_TB ent
		LEFT JOIN 	UPDATE_ENT_INFO_TB up
		ON 			ent.ENT_IDX = up.ENT_IDX
		LEFT JOIN 	LEGAL_DONG_TB ld 
		ON 			ent.ADDR_BCITY_CD = ld.ADDR_BCITY_CD 
		AND 		ent.ADDR_SIGNGU_CD = ld.ADDR_SIGNGU_CD
		AND 		ld.ADDR_EMD_CD = IF(ent.ADDR_EMD_CD = ld.ADDR_EMD_CD,ent.ADDR_EMD_CD,0 )
		LEFT JOIN 	FOLLOWING_TB fol
		ON 			fol.ENT_IDX=ent.ENT_IDX AND fol.MBER_IDX=#{MBER_IDX}
    	WHERE ent.ENT_IDX = #{ENT_IDX}    	
	</select>
	
	<select id="selectGraphInfo" parameterType="int" resultType="hashMap">
		SELECT		NPN_DTLS_IDX,ENT_IDX,NPN_SBSCRBER_CNT,NPN_NW_SBSCRBER_CNT,NPN_SCBT_CNT,PAY_YM,PAY_AMT
		FROM 		NPN_DTLS_TB
		WHERE 		ENT_IDX = #{ENT_IDX}
		ORDER BY 	PAY_YM
	</select>
	

	<!-- 관리자 페이지 -->
	<select id="selectCountByKeyword" resultType="int" parameterType="map">
		SELECT COUNT(*)
			FROM ENTERPRISE_TB
				WHERE 1=1 
			<if test="entIndexKeyword != null">
				AND ENT_IDX = #{entIndexKeyword} 
		    </if>
		    <if test="entNameKeyword != null"> 
		  	 	AND ENT_NM LIKE '%${entNameKeyword}%'
		    </if>
	</select>
	<select id="selectEntList" resultMap="entMap" parameterType="map">
		SELECT * FROM (		
			SELECT @ROWNUM:=@ROWNUM+1 AS RNUM,ENT_IDX,ENT_NM,ENT_BIZR_NO,ENT_INDUTY_CD,ENT_INDUTY_NM,ENT_STLE_TYPE,ENT_SBSCRB_ST,ENT_FL,ENT_FOND_YMD 
			  FROM ENTERPRISE_TB, 				
				(SELECT @ROWNUM := 0) ROWNUM 
					WHERE 1=1 
					<if test="entIndexKeyword != null">
				  	  AND ENT_IDX = #{entIndexKeyword} 
				    </if>
				    <if test="entNameKeyword != null"> 
				  	  AND ENT_NM LIKE '%${entNameKeyword}%'
				    </if>
					) n
		WHERE RNUM BETWEEN #{firstRow} AND #{endRow}
	</select>	
	<update id="updateEnt" parameterType="enterprise">
		UPDATE ENTERPRISE_TB SET 
		ENT_IDX=#{entIndex},ENT_NM=#{entName},ENT_BIZR_NO=#{entBizRegNum},ENT_INDUTY_CD=#{industryCode},ENT_INDUTY_NM=#{industryName},ENT_STLE_TYPE=#{entStyleType},ENT_SBSCRB_ST=#{entSubscriberFlag}, 
		ENT_FL=#{entFlag},ENT_FOND_YMD=#{entFoundationDate} 
		WHERE ENT_IDX=#{entIndex}
	</update>
	<select id="selectEnt" parameterType="int" resultMap="entMap">
		SELECT * FROM ENTERPRISE_TB 
		WHERE ENT_IDX=#{entIndex}
	</select>
		<!-- 팔루우 기업 리스트 보기 profile-follows.jsp -->
	<select id="selectListEntByMember" parameterType="int" resultMap="entMap">
		SELECT fol.MBER_IDX ,ent.ENT_IDX, ent.ENT_NM, ent.ENT_INDUTY_NM,up.EVALUATION_AVG,up.PAY_AMT_AVG, up.NPN_SBSCRBER_CNT, 
					ld.ADDR_BCITY_NM, ld.ADDR_SIGNGU_NM,revw.REVW_CNT,intrvw.INTRVW_CNT
		FROM  		FOLLOWING_TB fol
		LEFT JOIN	ENTERPRISE_TB ent 
		ON 			fol.ENT_IDX=ent.ENT_IDX
		LEFT JOIN 	(SELECT ENT_IDX, COUNT(*) AS REVW_CNT 
					 FROM REVIEW_TB 
					 WHERE REVW_FL = 1 
					 GROUP BY ENT_IDX
					 ) revw 
		ON 			ent.ENT_IDX = revw.ENT_IDX
		LEFT JOIN 	(SELECT ENT_IDX, COUNT(*) AS INTRVW_CNT 
					 FROM INTERVIEW_TB 
					 WHERE INTRVW_FL = 1 
					 GROUP BY ENT_IDX
					 ) intrvw 
		ON 			ent.ENT_IDX = intrvw.ENT_IDX
		LEFT JOIN 	UPDATE_ENT_INFO_TB up
		ON 			ent.ENT_IDX = up.ENT_IDX
		LEFT JOIN 	LEGAL_DONG_TB ld 
		ON 			ent.ADDR_BCITY_CD = ld.ADDR_BCITY_CD 
		AND 			ent.ADDR_SIGNGU_CD = ld.ADDR_SIGNGU_CD
		AND 			ld.ADDR_EMD_CD = IF(ent.ADDR_EMD_CD = ld.ADDR_EMD_CD,ent.ADDR_EMD_CD,0 )
		WHERE 	   	fol.MBER_IDX=#{MBER_IDX}
		GROUP BY 	ent.ENT_IDX
	</select>
	<!-- 최근본 기업 보기  profile-recent.jsp-->
	<select id="selectListEntRecent" parameterType="map" resultMap="entMap">
		SELECT SQL_CALC_FOUND_ROWS
							vie.VIEW_IDX,vie.VISIT_DT,fol.MBER_IDX  as FOLLOWING ,ent.ENT_IDX, ent.ENT_NM, ent.ENT_INDUTY_NM,up.EVALUATION_AVG,up.PAY_AMT_AVG, up.NPN_SBSCRBER_CNT, 
							ld.ADDR_BCITY_NM, ld.ADDR_SIGNGU_NM,revw.REVW_CNT,intrvw.INTRVW_CNT
		FROM 				ENTERPRISE_TB ent
		LEFT JOIN 			(SELECT ENT_IDX, COUNT(*) AS REVW_CNT 
							 FROM REVIEW_TB 
							 WHERE REVW_FL = 1 
							 GROUP BY ENT_IDX
							 ) revw 
		ON 					ent.ENT_IDX = revw.ENT_IDX
		LEFT JOIN 			(SELECT ENT_IDX, COUNT(*) AS INTRVW_CNT 
							 FROM INTERVIEW_TB 
							 WHERE INTRVW_FL = 1 
							 GROUP BY ENT_IDX
							 ) intrvw 
		ON 					ent.ENT_IDX = intrvw.ENT_IDX
		LEFT JOIN 			UPDATE_ENT_INFO_TB up
		ON 					ent.ENT_IDX = up.ENT_IDX
		LEFT JOIN 			LEGAL_DONG_TB ld 
		ON 					ent.ADDR_BCITY_CD = ld.ADDR_BCITY_CD 
		AND 				ent.ADDR_SIGNGU_CD = ld.ADDR_SIGNGU_CD
		AND 				ld.ADDR_EMD_CD = IF(ent.ADDR_EMD_CD = ld.ADDR_EMD_CD,ent.ADDR_EMD_CD,0 )
		LEFT JOIN			VIEW_RECORD_TB vie
		ON					vie.ENT_IDX = ent.ENT_IDX
		LEFT JOIN 			FOLLOWING_TB fol
		ON 					fol.ENT_IDX=ent.ENT_IDX AND fol.MBER_IDX=#{MBER_IDX}
		WHERE 				vie.MBER_IDX=#{MBER_IDX}
		GROUP BY 			ent.ENT_IDX
		ORDER BY 			vie.VISIT_DT desc
		LIMIT 				#{NUM_OF_RECENT_PER_PAGE} 
		OFFSET				#{START_ROW}
	</select>
	
	<!-- 기업정보의 기본정보 가져오기 (최근 12개월) -->
	<select id="selectEntBaseInfo" parameterType="int" resultType="map">
		SELECT up.NPN_SBSCRBER_CNT, (year(sysdate()))-year(ent.ENT_FOND_YMD) AS ENT_FOND_YMD, sum(a.NPN_NW_SBSCRBER_CNT) AS NPN_NW_SBSCRBER_CNT,sum(a.NPN_SCBT_CNT) AS NPN_SCBT_CNT
		FROM ENTERPRISE_TB ent
		INNER JOIN (SELECT	ENT_IDX,NPN_NW_SBSCRBER_CNT,NPN_SCBT_CNT,PAY_YM
				    FROM 	NPN_DTLS_TB
				    WHERE 	ENT_IDX =3 
				    AND 	PAY_YM >= date_format(date_add(now(), interval -1 year),'%Y%m')
				    ORDER 	BY PAY_YM desc		    	
				    ) a
		ON ent.ENT_IDX = a.ENT_IDX
		INNER JOIN UPDATE_ENT_INFO_TB up
		ON ent.ENT_IDX = up.ENT_IDX
	</select>
	
	<!-- 동종 산업군 평균정보 가져오기 (최근 12개월)  -->
	<select id="selectPeerIndustryAvgInfo" parameterType="int" resultType="hashMap">
		SELECT 		peer.NPN_SBSCRBER_AVG AS PEER_NPN_SBSCRBER_AVG, peer.ENT_FOND_YMD_AVG AS PEER_ENT_FOND_YMD_AVG , peer.NPN_NW_SBSCRBER_AVG AS PEER_NPN_NW_SBSCRBER_AVG, peer.NPN_SCBT_AVG AS PEER_NPN_SCBT_AVG
		FROM 		ENTERPRISE_TB ent
		INNER JOIN 	INDUTY_CODE_TB incd
		ON 			ent.ENT_INDUTY_CD = incd.INDUTY_CD
		INNER JOIN 	UPDATE_PEER_INDUSTRY_INFO peer
		ON 			incd.LCLASS_CD = peer.LCLASS_CD
		WHERE 		ent.ENT_IDX = #{entIndex}
	</select>
	<!-- 전체 산업군 평균정보 가져오기  (최근 12개월) -->
	<select id="selectTotalAvgInfo" resultType="hashMap">
		SELECT 		avg(NPN_SBSCRBER_AVG)as TOTAL_NPN_SBSCRBER_AVG, avg(ENT_FOND_YMD_AVG) as TOTAL_ENT_FOND_YMD_AVG
					, avg(NPN_NW_SBSCRBER_AVG) as TOTAL_NPN_NW_SBSCRBER_AVG, avg(NPN_SCBT_AVG) as TOTAL_NPN_SCBT_AVG
		FROM	 	UPDATE_PEER_INDUSTRY_INFO 
	</select>
	
	<!-- 	동종 산업군 정보1 인원, 업력 업데이트 쿼리 -->
	<update id="updatePeerIndustryInfo1">
		UPDATE  UPDATE_PEER_INDUSTRY_INFO peer
		JOIN    (SELECT 	incd.LCLASS_CD, avg(up.NPN_SBSCRBER_CNT) as NPN_SBSCRBER_CNT,(year(sysdate()))-avg(year(ent.ENT_FOND_YMD)) as ENT_FOND_YMD
				 FROM 		ENTERPRISE_TB ent
				 LEFT JOIN  INDUTY_CODE_TB incd
				 ON 		ent.ENT_INDUTY_CD = incd.INDUTY_CD
				 LEFT JOIN  UPDATE_ENT_INFO_TB up
				 ON 		ent.ENT_IDX = up.ENT_IDX
				 WHERE 		ent.ENT_FL = 1
				 GROUP BY 	incd.LCLASS_CD) a
		SET     NPN_SBSCRBER_AVG = a.NPN_SBSCRBER_CNT, ENT_FOND_YMD_AVG = a.ENT_FOND_YMD
		WHERE   peer.LCLASS_CD = a.LCLASS_CD
	</update>
	
	<!-- 	동종 산업군 정보2 입사자, 퇴사자 업데이트 쿼리 -->
	<update id="updatePeerIndustryInfo2">
		UPDATE 		UPDATE_PEER_INDUSTRY_INFO peer
		INNER JOIN 	(SELECT   np.LCLASS_CD, avg(np.NPN_NW_SBSCRBER_CNT)as NPN_NW_SBSCRBER_CNT, avg(np.NPN_SCBT_CNT) as NPN_SCBT_CNT
					 FROM 	 (SELECT 	 ent.ENT_IDX,incd.LCLASS_CD, sum(NPN_NW_SBSCRBER_CNT) AS NPN_NW_SBSCRBER_CNT, sum(NPN_SCBT_CNT) AS NPN_SCBT_CNT
							  FROM		 NPN_DTLS_TB np
							  INNER 	 JOIN ENTERPRISE_TB ent
							  ON 		 ent.ENT_IDX = np.ENT_IDX 
							  INNER JOIN INDUTY_CODE_TB incd
							  ON 		 ent.ENT_INDUTY_CD = incd.INDUTY_CD 
							  AND 	 	 ent.ENT_FL=1
							  WHERE 	 PAY_YM >= date_format(date_add(now(), interval -1 year),'%Y%m')
							  GROUP BY   ent.ENT_IDX
							 )np
					 GROUP BY 	np.LCLASS_CD		 
					) np
		ON 			peer.LCLASS_CD = np.LCLASS_CD
		SET 		peer.NPN_NW_SBSCRBER_AVG = np.NPN_NW_SBSCRBER_CNT , peer.NPN_SCBT_AVG = np.NPN_SCBT_CNT
	</update>
	
	<resultMap type="enterprise" id="entMap">
		<result property="entIndex" column="ENT_IDX" />
		<result property="entName" column="ENT_NM" />
		<result property="entBizRegNum" column="ENT_BIZR_NO" />
		<result property="industryCode" column="ENT_INDUTY_CD" />
		<result property="industryName" column="ENT_INDUTY_NM" />
		<result property="entStyleType" column="ENT_STLE_TYPE" />
		<result property="entSubscriberFlag" column="ENT_SBSCRB_ST" />
		<result property="entFlag" column="ENT_FL" />
		<result property="entFoundationDate" column="ENT_FOND_YMD" />		
		<result property="following" column="FOLLOWING"/>						
		<result property="bcityName" column="ADDR_BCITY_NM" />
		<result property="signguName" column="ADDR_SIGNGU_NM" />
		<result property="employeeCount" column="ENT_EMPLOYEE_CNT" />
		<result property="entranceCount" column="NPN_NW_SBSCRBER_CNT" />
		<result property="retirementCount" column="NPN_SCBT_CNT" />
		<result property="evaluationAvg" column="EVALUATION_AVG" />
		<result property="salaryAvg" column="PAY_AMT_AVG" />
		<result property="reviewCount" column="REVW_CNT" />
		<result property="interviewCount" column="INTRVW_CNT" />
	</resultMap>
	
</mapper>

