<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.CatchJob.dao.InterviewDao">

	<!-- 면접후기 작성하기 -->
	<insert id="insertInterview" parameterType="interview" >
		INSERT INTO INTERVIEW_TB (MBER_IDX,ENT_IDX,INTRVW_DFFLY,INTRVW_YM,INTRVW_ROUTE,INTRVW_REVW,INTRVW_QESTN,INTRVW_ANSWER,INTERVW_FL,INTRVW_RESULT,INTRVW_EXPRNC,PRESNATN_DT,REG_DT) 
		VALUES (#{mberIndex},#{entIndex},#{intrvwDifficulty},#{intrvwDate},#{intrvwRoute},#{intrvwReview},#{intrvwQuestion},#{intrvwAnswer},#{intrvwFlag},#{intrvwResult},#{intrvwExperience},#{presentationDate},sysdate())
	</insert>
	<update id="updateInterview" parameterType="interview" ><!-- ,INTERVW_FL=#{intrvwFlag} -->
		UPDATE INTERVIEW_TB
		SET INTRVW_DFFLY=#{intrvwDifficulty},INTRVW_YM=#{intrvwDate},INTRVW_ROUTE=#{intrvwRoute},INTRVW_REVW=#{intrvwReview},INTRVW_QESTN=#{intrvwQuestion},INTRVW_ANSWER=#{intrvwAnswer},INTRVW_RESULT=#{intrvwResult},INTRVW_EXPRNC=#{intrvwExperience},PRESNATN_DT=#{presentationDate}
		WHERE ENT_IDX=#{entIndex} AND MBER_IDX=#{mberIndex}
	</update>
	<delete id="deleteInterview" parameterType="map">
		DELETE FROM INTERVIEW_TB
		WHERE ENT_IDX=#{entIndex} AND MBER_IDX=#{mberIndex}
	</delete>
	<!-- 계정에서 인터뷰 수정할 때 필요.../ -->
	<select id="selectListByIndex" parameterType="map" resultMap="interviewMap">
		SELECT e.ENT_NM, MBER_IDX,e.ENT_IDX,INTRVW_DFFLY,INTRVW_YM,INTRVW_ROUTE,INTRVW_REVW,INTRVW_QESTN,INTRVW_ANSWER,INTERVW_FL,INTRVW_RESULT,INTRVW_EXPRNC,PRESNATN_DT,REG_DT
		FROM INTERVIEW_TB i
		LEFT JOIN ENTERPRISE_TB e
		ON i.ENT_IDX = e.ENT_IDX
		WHERE i.ENT_IDX=#{entIndex} AND i.MBER_IDX=#{mberIndex}
	</select>
	<select id="selectListByEntIdx" parameterType="int" resultMap="interviewMap">
		SELECT *
		FROM INTERVIEW_TB
		WHERE ENT_IDX=#{entIndex}
	</select>
	<!-- 계정에서 인터뷰 정보 출력할때 필요.. -->
	<select id="selectListByMemberIdx" parameterType="int" resultMap="interviewMap">
		SELECT ent.ENT_IDX, ent.ENT_NM, itv.MBER_IDX, itv.INTRVW_DFFLY, itv.INTRVW_RESULT, itv.REG_DT
		FROM INTERVIEW_TB itv
		LEFT JOIN ENTERPRISE_TB ent
		ON itv.ENT_IDX = ent.ENT_IDX
		WHERE itv.MBER_IDX=#{mberIndex}
		ORDER BY itv.REG_DT desc
	</select>
	<!-- 면접후기 면접난이도 Pie Chart 그리기 -->
	<select id="interviewPieChart" parameterType="int" resultType="map">
		SELECT INTRVW_DFFLY, count(INTRVW_DFFLY) as count
		FROM INTERVIEW_TB
		WHERE ENT_IDX=#{entIndex}
		GROUP BY INTRVW_DFFLY
		ORDER BY INTRVW_DFFLY 
	</select>

	<resultMap type="interview" id="interviewMap">
		<result property="entName" column="ENT_NM" />
		<result property="mberIndex" column="MBER_IDX" />
		<result property="entIndex" column="ENT_IDX" />
		<result property="intrvwDifficulty" column="INTRVW_DFFLY" />
		<result property="intrvwDate" column="INTRVW_YM" />
		<result property="intrvwRoute" column="INTRVW_ROUTE" />
		<result property="intrvwReview" column="INTRVW_REVW" />
		<result property="intrvwQuestion" column="INTRVW_QESTN" />
		<result property="intrvwAnswer" column="INTRVW_ANSWER" />
		<result property="intrvwFlag" column="INTERVW_FL" />
		<result property="intrvwResult" column="INTRVW_RESULT" />
		<result property="intrvwExperience" column="INTRVW_EXPRNC" />
		<result property="presentationDate" column="PRESNATN_DT" />
		<result property="regDate" column="REG_DT" />
	</resultMap>     
   

</mapper>

