<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.CatchJob.dao.InterviewDao">

	<!-- 면접후기 작성하기 -->
	<insert id="insertInterview" parameterType="interview" >
		INSERT INTO INTERVIEW_TB (MBER_IDX,ENT_IDX,INTRVW_DFFLY,INTRVW_YM,INTRVW_ROUTE,INTRVW_REVW,INTRVW_QESTN,INTRVW_ANSWER,INTRVW_FL,INTRVW_RESULT,INTRVW_EXPRNC,PRESNATN_DT,REG_DT) 
		VALUES (#{mberIndex},#{entIndex},#{intrvwDifficulty},#{intrvwDate},#{intrvwRoute},#{intrvwReview},#{intrvwQuestion},#{intrvwAnswer},#{intrvwFlag},#{intrvwResult},#{intrvwExperience},#{presentationDate},sysdate())
	</insert>
	<!-- 면접후기 수정 -->
	<update id="updateInterview" parameterType="interview" ><!-- ,INTRVW_FL=#{intrvwFlag} -->
		UPDATE INTERVIEW_TB
		SET INTRVW_DFFLY=#{intrvwDifficulty},INTRVW_YM=#{intrvwDate},INTRVW_ROUTE=#{intrvwRoute},INTRVW_REVW=#{intrvwReview},INTRVW_QESTN=#{intrvwQuestion},INTRVW_ANSWER=#{intrvwAnswer},INTRVW_RESULT=#{intrvwResult},INTRVW_EXPRNC=#{intrvwExperience},PRESNATN_DT=#{presentationDate}
		WHERE ENT_IDX=#{entIndex} AND MBER_IDX=#{mberIndex}
	</update>
	<!-- 면접후기 삭제 상태로 -->
	<update id="deleteInterview" parameterType="map">
		UPDATE INTERVIEW_TB
		SET INTRVW_FL=#{INTRVW_FL}
		WHERE ENT_IDX=#{entIndex} AND MBER_IDX=#{mberIndex}
	</update>
	<!-- 계정에서 인터뷰 수정할 때 필요.../ -->
	<select id="selectListByIndex" parameterType="map" resultMap="interviewMap">
		SELECT e.ENT_NM, MBER_IDX,e.ENT_IDX,INTRVW_DFFLY,INTRVW_YM,INTRVW_ROUTE,INTRVW_REVW,INTRVW_QESTN,INTRVW_ANSWER,INTRVW_FL,INTRVW_RESULT,INTRVW_EXPRNC,PRESNATN_DT,REG_DT
		FROM INTERVIEW_TB i
		LEFT JOIN ENTERPRISE_TB e
		ON i.ENT_IDX = e.ENT_IDX
		WHERE i.ENT_IDX=#{ENT_IDX} AND i.MBER_IDX=#{MBER_IDX} AND i.INTRVW_FL=#{INTRVW_FL}
	</select>
	<!-- 계정에서 인터뷰 정보 출력할때 필요.. -->
	<select id="selectListByMemberIdx" parameterType="map" resultMap="interviewMap">
		SELECT ent.ENT_IDX, ent.ENT_NM, itv.MBER_IDX, itv.INTRVW_DFFLY, itv.INTRVW_RESULT, itv.REG_DT
		FROM INTERVIEW_TB itv
		LEFT JOIN ENTERPRISE_TB ent
		ON itv.ENT_IDX = ent.ENT_IDX
		WHERE itv.MBER_IDX=#{MBER_IDX}  AND INTRVW_FL=#{INTRVW_FL}
		ORDER BY itv.INTRVW_IDX desc
	</select>
	<select id="interviewDiffChart" parameterType="map" resultType="Float">
		SELECT ROUND(avg(INTRVW_DFFLY),1) as AVG
		FROM INTERVIEW_TB 
		WHERE ENT_IDX=#{ENT_IDX}  AND INTRVW_FL=#{INTRVW_FL}
	</select>
	<!-- 면접후기 면접결과-->
	<select id="interviewResultChart" parameterType="map" resultType="map">
		SELECT INTRVW_RESULT, count(INTRVW_RESULT) as COUNT
		FROM INTERVIEW_TB
		WHERE ENT_IDX=#{ENT_IDX}  AND INTRVW_FL=#{INTRVW_FL}
		GROUP BY INTRVW_RESULT 
	</select>
	<!-- 면접후기  면접경험-->
	<select id="interviewExperienceChart" parameterType="map" resultType="map">
		SELECT INTRVW_EXPRNC, count(INTRVW_EXPRNC) as COUNT
		FROM INTERVIEW_TB
		WHERE ENT_IDX=#{ENT_IDX}  AND INTRVW_FL=#{INTRVW_FL}
		GROUP BY INTRVW_EXPRNC
	</select>
	<!-- 면접후기 작성버튼 클릭시에 이미 작성했는지 검사 -->
	<select id="interviewDuplicationCheck" parameterType="map" resultType="int">
		SELECT count(*)
		FROM INTERVIEW_TB
		WHERE ENT_IDX=#{ENT_IDX} AND MBER_IDX=#{MBER_IDX} AND INTRVW_FL=#{INTRVW_FL}
	</select>
	
	<!-- 면접후기  VIEW 페이지에서 페이징처리 -->
	<select id="selectInterviewList" parameterType="map" resultMap="interviewMap">
		SELECT 		SQL_CALC_FOUND_ROWS * 
		FROM 		INTERVIEW_TB 
		WHERE 		ENT_IDX=#{ENT_IDX} AND INTRVW_FL=#{INTRVW_FL}
		ORDER BY 	INTRVW_IDX desc 
		LIMIT 		#{NUM_OF_ITVW_PER_PAGE} 
		OFFSET		#{START_ROW}
	</select>
	<select id="selectInterviewTotalRows" parameterType="map" resultType="int">
		SELECT 	 COUNT(*) AS TOTAL_ROWS 
		FROM	 INTERVIEW_TB
		WHERE	 ENT_IDX=#{ENT_IDX} AND INTRVW_FL=#{INTRVW_FL}
	</select>

	<select id="selectCountByKeyword" resultType="int" parameterType="map">
		SELECT 	 COUNT(*)
		FROM	 INTERVIEW_TB i
		INNER JOIN MEMBER_TB m 
		ON i.MBER_IDX = m.MBER_IDX
		INNER JOIN ENTERPRISE_TB e
		ON i.ENT_IDX = e.ENT_IDX 
		WHERE 	 1=1 
		<if test="entIndexKeyword != null">
		 	AND i.ENT_IDX = #{entIndexKeyword} 
   		</if>
   		<if test="entNameKeyword != null"> 
 	 		AND e.ENT_NM LIKE '%${entNameKeyword}%'
   		</if>
   		<if test="intrvwDifficultyKeyword != null"> 
 	  	    AND i.INTRVW_DFFLY = #{intrvwDifficulty} 
   	   </if>
	</select>	
	<select id="selectInterviewListByAdmin" resultMap="interviewMap" parameterType="map">
		SELECT 	SQL_CALC_FOUND_ROWS *
		FROM 	INTERVIEW_TB i
		INNER JOIN MEMBER_TB m
		ON		i.MBER_IDX = m.MBER_IDX
		INNER JOIN ENTERPRISE_TB e
		ON		i.ENT_IDX = e.ENT_IDX
		WHERE 	1=1
		<if test="entIndexKeyword != null">
			AND i.ENT_IDX = #{entIndexKeyword}
		</if>
		<if test="entNameKeyword != null">
			AND e.ENT_NM LIKE '%${entNameKeyword}%'
		</if>
		<if test="intrvwDifficultyKeyword != null">
			AND i.INTRVW_DFFLY = #{intrvwDifficulty}
		</if>
		ORDER BY i.INTRVW_IDX DESC
		LIMIT #{NUM_OF_MSG_PER_PAGE}
		OFFSET #{START_ROW}
	</select>
	<select id="selectInterview" parameterType="int" resultMap="interviewMap">
		SELECT 	*
		FROM	INTERVIEW_TB i
		INNER JOIN MEMBER_TB m
		ON i.MBER_IDX = m.MBER_IDX
		WHERE 	INTRVW_IDX=#{intrvwIndex}
	</select>
	<update id="updateInterviewByAdmin" parameterType="interview">	
		UPDATE 	INTERVIEW_TB i
		INNER JOIN MEMBER_TB m
		ON 		i.MBER_IDX = m.MBER_IDX
		SET		m.MBER_ID=#{mberId},i.ENT_IDX=#{entIndex},i.ENT_NM=#{entName},i.INTRVW_DFFLY=#{intrvwDifficulty},i.INTRVW_YM=#{intrvwDate},i.INTRVW_ROUTE=#{intrvwRoute},i.INTRVW_REVW=#{intrvwReview},i.INTRVW_QESTN=#{intrvwQuestion},i.INTRVW_ANSWER=#{intrvwAnswer},i.INTRVW_FL=#{intrvwFlag},
		i.INTRVW_RESULT=#{intrvwResult},i.INTRVW_EXPRNC=#{intrvwExperience},i.PRESNATN_DT=#{presentationDate},i.REG_DT=#{regDate}
		WHERE   INTRVW_IDX=#{intrvwIndex}
	</update>
	<resultMap type="interview" id="interviewMap">
		<result property="entName" column="ENT_NM" />
		<result property="intrvwIndex" column="INTRVW_IDX"/>
		<result property="mberIndex" column="MBER_IDX" />
		<result property="mberId" column="MBER_ID" />
		<result property="entIndex" column="ENT_IDX" />
		<result property="intrvwDifficulty" column="INTRVW_DFFLY" />
		<result property="intrvwDate" column="INTRVW_YM" />
		<result property="intrvwRoute" column="INTRVW_ROUTE" />
		<result property="intrvwReview" column="INTRVW_REVW" />
		<result property="intrvwQuestion" column="INTRVW_QESTN" />
		<result property="intrvwAnswer" column="INTRVW_ANSWER" />
		<result property="intrvwFlag" column="INTRVW_FL" />
		<result property="intrvwResult" column="INTRVW_RESULT" />
		<result property="intrvwExperience" column="INTRVW_EXPRNC" />
		<result property="presentationDate" column="PRESNATN_DT" />
		<result property="regDate" column="REG_DT" />
	</resultMap>     
   

</mapper>

</mapper>